:root {
    --blue-color: #1d4596;
    --gray-color: #ddd;
    --orange-color: #eb4e27;
    --white-color: #fff;
}

body {
    background-color: var(--white-color);
    font-family:Arial; 
    padding: calc(20px + 4vmin);
}
a {
    color: var(--white-color);
    text-decoration: none;
    font-size: calc(5px + 3vmin);
    background-color: var(--orange-color);
    padding: 5px 50px 5px 50px;
    border-radius: 50px;
}

.App-container {
    background-color: var(--gray-color);
    border-radius: 50px;
    text-align: center;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
    width: 90%;
    height: 90%;
    padding: 5% 0 5% 0;
    margin: auto;
}
.App-logo {
    width:150px;
    height:180px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 1));
}
h1 {
    color:var(--blue-color);
    font-size: calc(20px + 6vmin);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
h3 {
    color:var(--orange-color);
    font-size: calc(10px + 4vmin);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);    
}